.hidden
{
	display: none;
}

#topBar
{
background-color: black;
height: 40px;
display: flex;
flex-direction: row;
justify-content: flex-end;
}

.shopTop
{
background-color: red;
width: 40px;

}

.loginTop
{
background-color: blue;
width: 40px;
}


#container
{
	width: 960px;
	height: 943px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	/*margin top and bottom 0, margin left and right equal*/
}



#header
{
background-color: #c6c6c6;

}


.header1
{
	width: 960px;
	height: 276px;
	background-color: #c6c6c6;
}

.header1
{
	color: #ffffff;
}

#logo
{
	width:201px;
	height:171.11px;
	margin-right: auto;
	margin-left: auto;
}


.logo
{
	display: flex;
	flex-direction: column;
}
.logomain
{
	display: flex;
	width: 201px;
	height: 201px;
	border-radius: 50%;
	margin-left: 379px;
	margin-right: 380px;
	background-color: #808080 ;
}


.logo ul
{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-left: 250px;
	margin-right: 250px;
	justify-content: space-between;
}

.logo li
{
	color: #ffffff;
	font-size: 30px;
}


nav ul
{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-left: 250px;
	margin-right: 250px;
	justify-content: space-between;text-decoration:none;
}

nav li
{
	color: #ffffff;
	font-size: 30px;
}

.maincontent
{
	display: flex;
	flex-direction: column;
	width: 909px;
	height: 476px;
	background-color: #9d9c9c;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 20px;
}

.maincontent h2
{
	color: #ffffff;
	font-size: 70px;
	margin-top: 200px;
	text-align: center;
}

.maincontent p
{
	color: #ffffff;
	font-size: 20px;
	margin-top: 20px;
	text-align: center;
}

.content
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 30px;
}

.content h2
{
	color: #ffffff;
	font-size: 40px;
	text-align: center;
	margin-top: 60px;
}

.content1 p
{
	color: #ffffff;
	font-size: 15px;
	margin-top: 10px;
	text-align: center;
}

.content2 p
{
	color: #ffffff;
	font-size: 15px;
	margin-top: 10px;
	text-align: center;
}

.content1
{
	width: 332.14px;
	height: 186.04px;
	background-color: #535353;
}

.content2
{
	width: 332.14px;
	height: 186.04px;
	background-color: #535353;
}

.videos
{
	display: flex;
	flex-direction: row;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 200px;
	justify-content: space-between;
}

.videos h2
{
	color: #ffffff;
	font-size: 30px;
	margin-top: 50px;
	text-align: center;
}

.video1
{
	width: 231.09px;
	height: 129.43px;
	background-color: #9d9c9c;
}

#torso p
{
	text-align: center;
	padding-bottom: 30px;
	margin-top: 20px;
	margin-bottom: 120px;
}


#contactAllContent
{
	display: flex;
	flex-direction: row;
	margin-right: auto;
	margin-left: auto;
}



#form-Building
{
width: 350;
height: 276;
margin-left: 70px;
background-color: #c6c6c6;
}

#building
{

	margin-top: 20px;	
}

#map
{
	margin-left: 60px;
	background-color: #c6c6c6;
}

.video1 p
{
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	margin-top: 5px;
}

.video2
{
	width: 231.09px;
	height: 129.43px;
	background-color: #9d9c9c;
}

.video2 p
{
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	margin-top: 5px;
}

.video3
{
	width: 231.09px;
	height: 129.43px;
	background-color: #9d9c9c;
}

.video3 p
{
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	margin-top: 5px;
}

footer
{
	width: 960px;
	height: 135px;
	background-color: #c6c6c6;
	margin-top: 316px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.footer
{
	display: flex;
	flex-direction: row;
	width: 960px;
	height: 135px;
	background-color: #c6c6c6;
	margin-top: 100px;
}

.footer h2
{
	color: #ffffff;
	font-size: 30px;
	margin-left: 50px;
	margin-right: 600px;
	margin-top: 20px;
	text-align: center;
}

.footer p
{
	color: #ffffff;
	font-size: 15px;
	margin-left: 50px;
	margin-right: 600px;
	margin-top: 5px;
	text-align: center;
}


#socialMedia
{

	background-color:  #c6c6c6;;
	height: 52px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 40px;
	
}

#facebook
{
	width: 52px;
	
}

#instagram
{

	width: 52px;
}

#twitter
{

	width: 52px;

.socialmedia
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: -100px;


}

.socialmedia h3
{
	color: #ffffff;
	font-size: 20px;
	margin-left: 10px;
	margin-top: 15px;
}

.button
{
	height: 52.15px;
	width: 52.15px;
	background-color: #808080;
	border-radius: 50%;
	margin-right: 20px;

}

.button1
{
	display: flex;
	flex-direction: row;
	margin-right: 40px;
	margin-bottom: 30px;
}